[user]
	name = dsclementsen
	email = davur@davur.net
[color]
	ui = true
[core]
	excludesfile = /Users/davurclementsen/.gitignore_global
[alias]
	unstage = reset HEAD --
[push]
	default = simple
[credential]
	helper = osxkeychain
